@import "tailwindcss";

@font-face {
  font-family: MontserratSubrayda;
  src: url(assets/font/MontserratSubrayada-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: MontserratSubrayda;
  src: url(assets/font/MontserratSubrayada-Regular.ttf);
}
@font-face {
  font-family: EmblemaOne;
  src: url(assets/font/EmblemaOne-Regular.ttf);
}

.ApplyFontMont {
  font-family: MontserratSubrayda;
}
.ApplyFontEmb {
  font-family: EmblemaOne;
}

.text1 {
  color: #3f2e56;
}
.text2 {
  color: #453f78;
}

.color0 {
  background-color: #fffded;
}
.color1 {
  background-color: #faf2a1;
}

.color2 {
  background-color: #759aab;
}
.color3 {
  background-color: #453f78;
}
.color4 {
  background-color: #3f2e56;
}
